HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/department-service/department-api-module/target/
/department-service/department-db-module/target/
/employee-service/employee-api-module/target/
/employee-service/employee-db-module/target/classes/db/changelog/
/employee-service/employee-impl-module/target/
